@import "styles/functions.scss";
@import "styles/mixins.scss";

.headingBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: color(paper-light);
  padding: 2em;
  border-radius: space(radius);
  margin-bottom: 1em;

  .infoDetail {
    @include flex-column;
    flex: 1 0;
    margin: 12px 0;
    .headingTitleBox {
      display: flex;
      align-items: center;

      [class~="heading-title"] {
        font-size: 18px;
        font-weight: 600;
        color: color(dark-main);
        @include disable-select;
      }
      [class~="heading-title-value"] {
        font-size: 22px;
        font-weight: 600;
        color: color(primary-main);
        margin: 0 space(mg-between);
        @include disable-select;
      }
    }
    [class~="amount"] {
      font-size: 14px;
      font-weight: 500;
      color: color(primary-main);
      @include disable-select;
    }
    [class~="amount-title"] {
      font-size: 14px;
      font-weight: 500;
      color: color(gray-light);
      @include disable-select;
    }
    [class~="dash"] {
      font-weight: 600;
      color: color(gray-darker);
      @include disable-select;
    }
    [class~="bar"] {
      & path {
        fill: color(gray-darker);
      }
    }
  }
}
