@import "styles/mixins.scss";
@import "styles/functions.scss";
.timeRoot {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: space(pd-y) space(pd-x);
  border-radius: space(radius);
  background-color: colorFromRgb(secondary-background);
  color: colorFromRgb(gray-text);
  @include disable-select;
  @include sizes;
  & > * {
    @include disable-select;
  }
}

.numberInput {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  width: 25px;
  color: colorFromRgb(gray-text);
  border-radius: 5px;
  transition: 200ms;

  &:focus {
    transition: 200ms;
    background-color: rgba(color(gray-text), 0.2);
    border: none;
    outline: none;
  }
}

.periodInput {
  cursor: pointer;
  margin: 0px space(mg-between);
  width: 25px;
  color: rgba(color(gray-text), 0.6);
}

.arrow {
  cursor: pointer;
  margin: 3px;

  &[data-disabled="true"] {
    cursor: default;
    & > path {
      stroke: rgba(color(gray-text), 0.6);
    }
  }
}

.arrowsContainer {
  display: inherit;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  svg path {
    stroke: colorFromRgb(gray-text);
  }
}

.arrowUp {
  transform: rotateZ(180deg);
}
