@import "styles/functions.scss";
@import "styles/mixins.scss";
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin: 1.1rem 0.75rem;
  align-items: flex-start;
  border-top: 2px dashed color(gray-light);
}
.container {
  margin-top: 0.9rem;
  width: 100%;
}
.barWrapper {
  position: relative;
  border: 1px solid color(gray-lighter);
  border-radius: 10px;
}
.bar {
  border-radius: inherit;
  background-color: colorFromRgb(primary-main);
  transition: width 0.75s;
  height: 7px;
}
.text {
  color: colorFromRgb(secondary-main);
  font-weight: 700;
  font-size: 13px;
}
.errorText {
  color: color(error-main);
}

.iconContainer {
  width: 35px !important;
  margin-left: 0.5rem;
  margin-top: 0.35rem;
}

.refreshIcon {
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px !important;
  height: 30px;
  margin: auto 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  & path {
    stroke: colorFromRgb(primary-main);
  }
}
.refreshIcon:hover {
  background-color: color(gray-very-light);
}
.cancelIcon {
  // padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px !important;
  height: 30px;
  margin: auto 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  & path {
    stroke: color(error-main);
    fill: #fff;
  }
}
.cancelIcon:hover {
  & path {
    stroke: #fff;
    fill: color(error-main);
  }
}
