@import "styles/functions.scss";

.menu {
  box-shadow: 0px 4px 20px rgba(51, 65, 85, 0.2);
  background-color: color(paper-light);
  padding: space(pd-y) space(pd-x);
  border-radius: space(radius);
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
  transition: time(default);
  position: absolute;

  &[data-open="true"] {
    opacity: 1;
    transition: time(default);
  }
}
